/* ------------------------ GENERAL - */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      nav {
        width: 5%
        min-width: 4em;
		max-width: 5em;
      }

      nav ul{
        text-align: center;
		width: 6em;
      }
      nav ul li{
        padding-top: 18px;
        padding-bottom: 18px;
      }

      nav li svg {
        padding: 0;
      }
/*

      div li {
        background: white;
      }
*/
      
      div li p{
        margin: 16px;
        padding-bottom: 16px;
      }

      h1, h2, h3, h4, h5, h6, label {
        font-family: Arial;
      }

      p {
        font-family: Arial;
      }
/* ------------------------ CLASSES - */
	  .context-menu li {
		background: white
	  }

	  .navlist {
        color: #b8b8b8;
        fill: #b8b8b8;
      }

      .navlist:active {
        background: RGB(0, 120, 200);
        color: #FFFFFF;
        fill: #FFFFFF;
      }

      .navlistActive {
        color: RGB(0, 120, 200);
        fill: RGB(0, 120, 200);
        background: #FFFFFF;
      }

      .navlistActive:active{
        color: RGB(0, 120, 200);
        fill: RGB(0, 120, 200);
        background: #FFFFFF;
      }

      .cd-vertical-nav {
        height: 100%;
        width: 5%;
        min-width: 4em;
        float: left;
        display: grid;
        align-items: center;
        justify-content: center;
		background: #FFFFFF;
      }

      .nav-menu {
        list-style-type: none;
        padding-left: 0;
		background: #FFFFFF;
      }

      .material-icons.md-18 { font-size: 18px; }
      .material-icons.md-24 { font-size: 24px; } /* Default */
      .material-icons.md-36 { font-size: 36px; }

      .material-icons.md-48 { 
        font-size: 48px;
      } 

      .material-icons.wrap {
        font-size: 48px;
      }

      .side {
        min-width: 18em;
		display: flex;
      }

      .context-menu {
        list-style-type: none;
        padding-left: 0;
        background: e6e6e6;
        width: 100%;
        padding-left: 8px;
        padding-right: 8px;
      }

      .wrapper {
        background: white;
        display: block;
        height: 4em;
        position: relative;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
      }

      .wrapper-left {
        float: left;
        height: 100%;
        width: 25%;
      }

      .wrapper-right {
        float: right;
        height: 100%;
        width: 75%;
        font-family: Arial;
       }

      .heading {
        float: right;
        clear: none;
        display: inline;
        margin-bottom: 0;
        margin-top: 0;
      }

      .paragraph {
        margin-top: 0px;
        margin-bottom: 16px;
      }

      .legend-hidden { 
        display: none;
      }

      .legend-content {
        display: block;
      }

      /*slider*/
      .slidecontainer {
        width: 250px;
        position: absolute;
		bottom: 0;
		right: 0;
        background: RGB(255, 255, 255);
        margin-bottom: 25px;
        margin-right: 15px;
        z-index: 1;
        text-align: center;
      }
      .slider {
        width: auto;
        height: auto;
        border-radius: 5px;  
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
      }

      .container-map {
        height: 100%;
        width: 100%;
        right: 0;
        z-index: 0;
      }

/* ------------------------ IDS - */

      #map {
        height: 100%;
        width: auto;
      }

	  #tutorial {
		background: RGB(64, 64, 64, 0.9);
		position: absolute;
		width: 70%;
		right: 0;
		height: 100%;
		display: flex;
		z-index: 2;
		justify-content: center;
		align-items: center;
	  }

	  #tutorial-content {
		color: white;
		list-style-type: none;
		text-align: center;
		display: inline;
	  }

	  #tutorial-content p {
		margin: 0;
      }

	  #gestures {
		list-style-type: none;
	  }
      #container-legend {
        width: 100px;
        position: absolute;
		top:0;
		right: 0;
        background: RGB(255, 255, 255); /* Transparency doesn't work on Safari */
        margin-top: 15px;
        margin-right: 15px;
        z-index: 1;
        display: none;
        text-align: center;
      }

      #side-home {
        height: 100%;
        width: 25%;
        float: left;
        justify-content: center;
        align-items: center;
		background: #FFFFFF;
      }

      #side-living {
        height: 100%;
        width: 25%;
        float: left;
        justify-content: center;
        align-items: center;
        display: none;
        background: #e6e6e6;
      }

      #side-mobility {
        height: 100%;
        width: 25%;
        float: left;
        justify-content: center;
        align-items: center;
        display: none;
        background: #e6e6e6;
      }

      #side-work {
        height: 100%;
        width: 25%;
        float: left;
        justify-content: center;
        align-items: center;
        display: none;
        background: #e6e6e6;
      }

      #side-qol {
        height: 100%;
        width: 25%;
        float: left;
        justify-content: center;
        align-items: center;
        display: none;
        background: #e6e6e6;
      }

      #side-sustain {
        height: 100%;
        width: 25%;
        float: left;
        justify-content: center;
        align-items: center;
        display: none;
        background: #e6e6e6;
      }

      #side-facilities {
        height: 100%;
        width: 25%;
        float: left;
        justify-content: center;
        align-items: center;
        display: none;
        background: #e6e6e6;
      }

      #BikeButton, #TrafficButton, #GreenButton, #ParkingButton {
        display: inline;
        clear: right;
        float: right;
        margin-top: 0.5em;
      }

      #homeHeading {
        display: block;
        text-align: center;
        width: 100%;
      }

	  #logo {
		width: 4em;
		content:url("https://i.imgur.com/d0RxYi1.png");
	  }

	  #logo:hover {
		width: 4em;
		content:url("https://i.imgur.com/qnh4gZ3.png");
      }

