/* ------------------------ GENERAL - */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      nav ul{
        width: 100%;
        text-align: center;
      }
      nav ul li{
        padding-top: 18px;
        padding-bottom: 18px;
      }

      nav li svg {
        padding: 0;
      }

      div li {
        background: white;
      }
      
      div li p{
        margin: 16px;
        padding-bottom: 16px;
        padding-top:16px;
      }

      div h2{
        font-family: Arial;
          margin-right: 16px
      }

      div input{
          margin-right: 16px
      }

      div li i{
          margin-left: 16px;
          margin-top: 16px;
      }

      h1{
          font-family: Arial;
      }
/* ------------------------ CLASSES - */
      .navlist {
        color: #b8b8b8;
        fill: #b8b8b8;
      }

      .navlist:hover {
        color: #001DFF;
        fill: #001DFF;
      }
      .navlist:active {
        background: #001DFF;
        color: #FFFFFF;
        fill: #FFFFFF;
      }

      .navlistActive {
        color: #001DFF;
        fill: #001DFF;
        background: #FFFFFF;
      }

      .navlistActive:active{
        color: #001DFF;
        fill: #001DFF;
        background: #FFFFFF;
      }

      .cd-vertical-nav {
        height: 100%;
        width: 5%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .nav-menu {
        list-style-type: none;
        padding-left: 0;
      }

      .material-icons.md-18 { font-size: 18px; }
      .material-icons.md-24 { font-size: 24px; } /* Default */
      .material-icons.md-36 { font-size: 36px; }

      .material-icons.md-48 { 
        font-size: 48px;
      } 

      .context-menu {
        list-style-type: none;
        padding-left: 0;
        background: e6e6e6;
        width: 100%;
        padding: 8px;
      }

      .heading {
        float: right;
        clear: none;
        display: inline;
        margin-bottom: 0;
      }

      .wrapper {
        background: white;
      }


/* ------------------------ IDS - */
      #map {
        height: 100%;
        width: 70%;
        float: right;
      }

      #side-home {
        height: 100%;
        width: 25%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #side-mobility {
        height: 100%;
        width: 25%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        background: #e6e6e6;
      }

      #side-qol {
        height: 100%;
        width: 25%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
      }

      #BikeButton, #TrafficButton {
        display: inline;
        clear: both;
        float: right;
      }

      #contextIcon {
          
      }

      #homeHeading {
        display: block;
        text-align: center;
        width: 100%;
      }