/* ------------------------ GENERAL - */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      nav {
        width: 5%
        min-width: 4em;
		    max-width: 5em;
      }

      nav ul{
        text-align: center;
		    width: 6em;
      }
      nav ul li{
        padding-top: 18px;
        padding-bottom: 18px;
      }

      nav li svg {
        padding: 0;
      }

      div li {
        background: white;
      }
      
      div li p{
        margin: 16px;
        padding-bottom: 16px;
      }

      h1, h2, h3, h4, h5, h6 {
        font-family: Arial;
      }

      p {
        font-family: Arial;
      }
/* ------------------------ CLASSES - */
	    .navlist {
        color: #b8b8b8;
        fill: #b8b8b8;
      }

      .navlist:hover {
        color: RGB(0, 120, 200); 
        fill: RGB(0, 120, 200);
      }
      .navlist:active {
        background: RGB(0, 120, 200);
        color: #FFFFFF;
        fill: #FFFFFF;
      }

      .navlistActive {
        color: RGB(0, 120, 200);
        fill: RGB(0, 120, 200);
        background: #FFFFFF;
      }

      .navlistActive:active{
        color: RGB(0, 120, 200);
        fill: RGB(0, 120, 200);
        background: #FFFFFF;
      }

      .cd-vertical-nav {
        height: 100%;
        width: 5%;
        min-width: 4em;
        float: left;
        display: grid;
        align-items: center;
        justify-content: center;
      }

      .nav-menu {
        list-style-type: none;
        padding-left: 0;
      }

      .material-icons.md-18 { font-size: 18px; }
      .material-icons.md-24 { font-size: 24px; } /* Default */
      .material-icons.md-36 { font-size: 36px; }

      .material-icons.md-48 { 
        font-size: 48px;
      } 

      .material-icons.wrap {
        font-size: 48px;
      }

      .side {
        min-width: 18em;
      }

      .context-menu {
        list-style-type: none;
        padding-left: 0;
        background: e6e6e6;
        width: 100%;
        padding-left: 8px;
        padding-right: 8px;
      }

      .wrapper {
        background: white;
        display: block;
        height: 4em;
        position: relative;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
      }

      .wrapper-left {
        float: left;
        height: 100%;
        width: 25%;
      }

      .wrapper-right {
        float: right;
        height: 100%;
        width: 75%;
        font-family: Arial;
       }

      .heading {
        float: right;
        clear: none;
        display: inline;
        margin-bottom: 0;
        margin-top: 0;
      }

      .paragraph {
        margin-top: 0px;
        margin-bottom: 16px;
      }

      .legend-hidden { 
        display: none;
      }

      .legend-content {
        display: block;
      }

/* ------------------------ IDS - */
      #container-map {
        height: 100%;
        width: 100%;
        right: 0;
        z-index: 0;
      }

      #map {
        height: 100%;
        width: auto;
      }

      #container-legend {
        width: 100px;
        position: absolute;
        bottom: 0;
        right: 0;
        background: RGB(255, 255, 255); /* Transparency doesn't work on Safari */
        margin-bottom: 25px;
        margin-right: 15px;
        z-index: 999;
        display: none;
        text-align: center;
      }

      #side-home {
        height: 100%;
        width: 25%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
		    background: #FFFFFF;
      }

      #side-mobility {
        height: 100%;
        width: 25%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        background: #e6e6e6;
      }

      #side-qol {
        height: 100%;
        width: 25%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        background: #e6e6e6;
      }

      #BikeButton, #TrafficButton, #GreenButton {
        display: inline;
        clear: right;
        float: right;
        margin-top: 0.5em;
      }

      #homeHeading {
        display: block;
        text-align: center;
        width: 100%;
      }